/*EStilos web Cecsamex*/
.wrap{
    //border:1px solid red;
}

.jumbotron{
    background-color: #f4f4f4;
    height: 12rem;
    margin-bottom: 3rem;
}

.card{
    margin-bottom: 10px;

    img{
        height: 12rem;
        background-color: #f4f4f4;
    }
}