//Estilos en general
.wrap,
.wrap-contacto,
.wrap-aviso,
.wrap-preguntas,
.wrap-detalle,
.wrap-producto,
.wrap-tienda,
.wrap-index,
.wrap-nuestra {
    padding: 6rem 0;
    box-sizing: border-box;

    &.wrapNoPad {
        padding: 0;
    }

}

.wrap-tienda {
    height: calc(100vh - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-index {
    &.wiBackground {
        @include backDegrad;
    }
}

.titleCat {
    @include NuniBase;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 3rem
}

.listSt1 {
    @include NuniBase;
    font-size: 1.6rem;

    li {
        a {
            color: $black;
            display: block;
            padding: 0.5rem 0;
            @include transAnim;

            &:hover {
                font-weight: bold;
            }
        }

        &.active {
            a {
                font-weight: bold;
            }
        }
    }
}

//Dropdown
.dropdown {
    @include NuniBase;
    font-size: 1.6rem;
    position: relative;
    display: inline-flex;
    //width: auto;

    .ddText {
        //border: 1px solid red;
        height: 2.4rem;
        cursor: pointer;
        //display: flex;
        //align-items: center;

        i {
            font-size: 1.8rem;
            vertical-align: sub;
            display: inline-block;
            transform: rotate(0deg);
            @include transAnim;
        }
    }

    .ddList {
        //border:1px solid red;
        width: 24rem;
        position: absolute;
        top: 2.4rem;
        right: -4rem;
        display: none;
        z-index: 1;
        background-color: $white;
        padding-top: 0.5rem;

        ul {
            margin: 0;

            li {
                font-size: 1.4rem;
                padding: 0.8rem 6.5rem 0.8rem 1rem;
                cursor: pointer;
                @include transAnim;

                i {
                    font-size: 2rem;
                    margin-left: 1rem;
                }

                &:hover,
                &.active {
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }

    &.open {

        .ddText {
            i {
                transform: rotate(-180deg);
            }
        }

        .ddList {
            display: block;
        }
    }
}


//Caja del producto
.boxProd {
    margin-bottom: 2rem;
    //cursor: pointer;

    .bpImagen {
        border: 0.1rem solid $red;
        display: block;

        img {
            width: 100%;
        }
    }

    .bpDatos {
        display: flex;
        margin-top: 1rem;

        &>div {
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            align-items: center;
        }

        .bpNombre {
            @include NuniBase;
            font-weight: bold;
        }

        .bpIconos {
            justify-content: end;

            i {
                font-size: 2.4rem;
            }
        }
    }
}

//Detalle producto
.detalleProducto {

    .dpImagen {
        border: 0.1rem solid $red;

        img {
            width: 100%;
        }
    }

    .dpIconos {
        margin-top: 1rem;

        i {
            font-size: 3rem;
        }
    }
}

.nombreProducto {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.descProducto {
    @include NuniBase;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.listaProducto {
    list-style: disc;
    padding-left: 2rem;

    li {
        @include NuniBase;
        font-size: 1.4rem;
        padding: 0.4rem 1rem;
    }
}

.tableProducto {
    @include NuniBase;
    font-size: 1.2rem;
    width: 100%;
    table-layout: fixed;
    margin: 2rem 0;
    border-collapse: collapse;

    thead {
        tr {
            th {
                background-color: $gray;
                color: $white;
                padding: 0.6rem 1rem;
                text-transform: uppercase;
                border-right: 0.1rem solid $white;
                border-bottom: 0.1rem solid $white;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: center;
                padding: 0.4rem 1rem;
                border-bottom: 0.1rem solid $black;
            }
        }
    }
}

//Box collapse de preguntas frecuentes
.boxCollapse {
    @include NuniBase;
    border-bottom: 0.1rem solid $black;
    padding-bottom: 2rem;

    .bcTitle {
        padding: 2rem 0 0.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        @include transAnim;

        i {
            font-style: normal;
            font-size: 2.4rem;
            font-weight: lighter;
            position: absolute;
            right: 0;
            //top:0;

            &::after {
                content: '+';
            }
        }
    }

    .bcContent {
        //padding: 1rem  0 2rem;
        font-size: 1.6rem;
        height: 0;
        overflow: hidden;
        @include transAnim;

        p {
            margin-bottom: 0;
        }

    }

    &.collapse {

        .bcTitle {
            color: $red;
            margin-bottom: 1rem;

            i {
                color: $black;

                &::after {
                    content: '-';
                }
            }
        }

        .bcContent {
            height: auto;
        }
    }
}

//tabla en preguntas frecuentes
.tableInfo {
    width: 44rem;
    margin: 2rem 0;

    tbody {
        tr {
            td {
                &:first-child {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}

//Colores
.tRed {
    color: $red;
}

.tBold {
    font-weight: bold;
}

.boxAvisoPrivacidad {
    font-size: 1.6rem;
    @include NuniBase;
}




//Formulario

.titleForm {
    @include NuniBase;
    font-weight: bold;
    margin-bottom: 2rem;
}

.boxForm {
    @include NuniBase;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;

    label {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0.5rem;

        span {
            color: $red;
            margin-left: 0.4rem;
        }
    }

    small {
        color: $red;
        //flex:0 0 100%;
        //max-width: 100%;
        text-align: right;
        opacity: 0;
        visibility: hidden;
        @include transAnim;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    select,
    textarea {
        height: 3rem;
        border-color: $black;
        border-style: solid;
        border-width: 0 0 0.1rem 0;
        padding: 0.4rem 1rem;
        box-sizing: border-box;
    }

    &.bfError {

        input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="date"],
        select,
        textarea {
            border-color: $red;
        }


        small {
            opacity: 1;
            visibility: visible;
        }
    }
}

p {
    input[type="checkbox"] {
        vertical-align: top;
    }
}

.boxButton {
    margin: 3rem 0;
}

//BOTNES
.btRed,
.btWhi {
    background-color: $red;
    color: $white;
    border: 0.1rem solid $red;
    font-weight: bold;
    @include NuniBase;
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
    cursor: pointer;

    &.btModal {
        text-transform: uppercase;
        display: block;
        width: 100%;
    }
}

.btWhi {
    background-color: $white;
    color: $black;
    border-color: $white;
    font-weight: normal;
    text-transform: none !important;
}

.bgGray {
    background-color: $gray5;
}
.bgBlue {
    background-color: $blue2;
}
.tWhite{
    color:$white;
}
//caja mapa
.boxMapa {
    height: 53rem;
    box-sizing: border-box;
    position: absolute;
    right: 50vw;
    left: 0;
    width: 60vw;

    //position: absolute;
    //top: 0;
    //left: 0;
    //width: 55vw;

    iframe {
        width: 100%;
        height: 53rem;
    }
}

.boxMapaDir {
    box-sizing: border-box;
    //border:1px solid red;
    //width: 50rem;
    height: 53rem;
    overflow-x: auto;
    padding: 6rem 0 3rem 0;
    //margin-left: auto;
    @include NuniBase;


    .bmInfo {
        margin-bottom: 3rem;

        b {
            @include montseBase;
            font-size: 2rem;
            margin-bottom: 1.5rem;
            display: block;
        }

        span {
            color: $red;
            display: block;

        }

    }

}

.container-fluid.cfContacto {
    .row {
        &>div {
            padding: 0;
        }
    }
}



///MODAL
.boxModal {
    position: fixed;
    //top: 0;
    top: -103%;
    right: 0;
    // bottom: 0;
    left: 0;
    background-color: #00000080;
    z-index: 10;
    //width: 100vw;
    height: 100vh;
    @include blur;
    @include transAnim2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    .bmContent {
        background-color: $white;
        width: 38rem;
        padding: 3rem;
        box-sizing: border-box;
        position: relative;

        .bmcClose{
            border: 1px solid $gray;
            width: 2rem;
            height: 2rem;
            /* border-radius: 90%; */
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            opacity: 0.6;
        }

        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.8rem;
            margin: 3rem 0 2rem;
            @include NuniBase;
        }

        img {
            width: 3.2rem;
            margin: 0 auto;
            display: block;
        }

        p {
            text-align: center;
            margin-bottom: 3rem;
        }

        &>small {
            width: 20rem;
            text-align: center;
            display: block;
            margin: 0 auto;

            a {
                color: $black;
                text-decoration: underline;
            }
        }

        .formModal {
            display: flex;
            flex-wrap: wrap;

            .boxForm {
                //margin-bottom: 2rem;
                flex: 0 0 100%;
                max-width: 100%;
                box-sizing: border-box;

                label {
                    text-transform: none;
                }

                input {
                    border-width: 0.1rem;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                &:nth-child(2) {
                    padding-right: 1rem;
                }

                &:nth-child(3) {
                    padding-left: 1rem;
                }
            }
        }

        .btRed {
            margin: 2rem 0 1rem;
        }

        .btWhi {
            margin: 0 0 2rem;
        }
    }

    &.show {
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}

//form
form {
    width: 100%;
}


//Seccion tienda 
.wrap-tienda {
    .boxInfoTienda {

        h2 {
            text-transform: uppercase;
            color: $red;
            //font-size: 4.6rem;
            font-size: 6rem;
            margin: 0;
            //line-height: normal;
            //line-height: 10rem;
            text-align: center;
        }

        h3 {
            text-align: center;
            @include NuniBase;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 2.4rem;
            margin: 0 0 2rem;
        }

        p {
            text-align: center;
            margin: 0 auto;

            &.bitMensaje {
                width: 60rem;
                font-size: 1.4rem;
                line-height: 2rem;
                font-style: italic;
            }

        }

        .bitForm {
            //border:1px solid red;
            width: 45rem;
            margin: 5rem auto 2rem;
            display: flex;

            input {
                flex: 0 0 calc(100% - 12rem);
                max-width: calc(100% - 12rem);
                padding: 0.4rem 1rem;
                border-width: 0.1rem 0 0.1rem 0.1rem;
                box-sizing: border-box;
            }

            .btRed {
                flex: 0 0 12rem;
                max-width: 12rem;
                text-transform: uppercase;
            }
        }
    }
}

///Index 


.boxSlider {
    //height: 67rem;
    height: 50rem;
}

.boxImageIndex {
    position: relative;
    height: 47rem;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        @include transAnim;

        &.active {
            opacity: 1;
            visibility: visible;
        }

    }
}

.biiText {
    color: $white;
    @include NuniBase;
    font-size: 2rem;
    margin: 0;
}

.biiMenu {
    height: calc(48rem - 27px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    li {
        @include NuniBase;
        color: $white;
        @include transAnim2;
        opacity: 0.6;
        font-size: 6rem;
        cursor: pointer;

        &:hover,
        &.active {
            @include montseBase;
            font-weight: bold;
            opacity: 1;
        }
    }
}

.boxDisplayNuestra {
    //background-image: url('../img/img_nuestra_empresa.jpg');
    //height: calc(100vh - 4.5rem);
    height: calc(80vh - 4.5rem);
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;

    &>.container {
        flex: 0 0 1200px;
        max-width: 1200px;

        h2 {
            color: $white;
            position: relative;
            font-size: 7rem;
            line-height: 6.5rem;
            text-transform: uppercase;

            &::before {
                content: url('../img/punta_01.svg');
                display: block;
                width:5rem;
                //height: 15rem;
                position: absolute;
                top: -7rem;
                left: 0.6rem;
            }
        }
    }

    &>.bdnPleca {
        width: 26rem;
        position: absolute;
        bottom: 8rem;
        left: 0;
        display: flex;
    }
}

.navbarNuestra {
    @include backDegrad;
    height: 4.5rem;

    .nbnList {
        width: 80%;
        //border:1px solid red;
        display: flex;
        margin: 0 auto;

        li {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
            height: 4.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 1.6rem;
            cursor: pointer;
            box-sizing: border-box;
            @include transAnim;
            @include NuniBase;

            &:hover {
                opacity: 0.6;
            }

            &.active {
                font-weight: 900;
            }
        }
    }
}

.tabContent {
    position: relative;
    //min-height: 512px;

    .tcItem {
        //border:1px solid blue;
        //display: none;
        opacity: 0;
        visibility: hidden;
        //min-height: 20rem;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        @include transAnim;

        &.active {
            //display: block;
            opacity: 1;
            visibility: visible;
            height: auto;
        }

        &.tciPad {
            padding: 10rem 0;
        }

        &#secNue{

            .noPadLeft{
                padding-left: 0;
            }

            .noPadRight{
                padding-right: 0;
            }

        }

        #secCro{

        }
    }
}

.boxVideo {
    width: 100%;
    height: 75rem;

    iframe {
        width: 100%;
        height: 75rem;
    }
}

.contentImgNues {
    width: 100%;

    img {
        width: 100%;
    }
}

.contentTextNues {
    h3 {
        font-size: 3.3rem;
        margin-top: 0;
    }

    p {
        font-size: 1.6rem;
        @include NuniBase;
        line-height: 2.6rem;

        &.ctnTitle {
            font-weight: bold;
            margin-bottom: 0;
        }
    }
}

.rowPad10 {
    padding: 10rem 0;
}

//----------------Slider--------------------//
#sliderIndex.carousel {
    background: $blue2;
    height: 50rem;

    .flickity-page-dots{
        //border:0.1rem solid red;
        box-sizing: border-box;
        bottom: 25px;

        .dot{
            background-color: $white;
        }
    }

    //.flickity-button{
     //   display: none;
    //}
}
  
#sliderIndex .carousel-cell {
    width: 66%;
    //height: 200px;
    height: 50rem;
    //margin-right: 10px;
    background: $blue2;
    border-radius: 5px;
    counter-increment: gallery-cell;
    opacity: 0.4;
    //@include transAnim;

    img{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    .ccContent{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        //border:1px solid red;
        box-sizing: border-box;
        padding-bottom: 12rem;
        padding-left: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;

        h2{
            // position: absolute;
            // left: 0;
            // bottom: 14rem;
            color:$white;
            font-size: 5rem;
            margin-bottom: 2rem;
        }

        p{
            color:$white;
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    &.is-selected{
        opacity: 1;
    }
}
  
  /* cell number */
#sliderIndex .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: $white;
    height: 50rem;
}


//Cronologia
#sliderNuestra.carousel {
    background:$blue2;
    //margin-top: 4rem;
    height: 25rem;

    .flickity-viewport{
        height: 25rem!important;
    }

    .flickity-button{
        top: auto;
        bottom:-6rem;
        z-index: 1;

        &.flickity-prev-next-button{
            background-color: transparent;
            border:1px solid white;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            
            svg{
                width: 15px;
                height: 15px;
                left:auto;
                top:auto;
            }
        }

        &.flickity-prev-next-button.next{
            right: auto;
            left:7rem;
        }

        
    }
}

  
#sliderNuestra .carousel-cell {
    width: 33%;
    height: 25rem;
    margin-right: 10px;
    //background: #8C8;
    opacity: 0.6;
    counter-increment: gallery-cell;
    //padding: 0 2rem;
    box-sizing: border-box;
}
  
#sliderNuestra .carousel-cell.is-selected {
    //background: #ED2;
    opacity: 1;
}
  
/* cell number */
#sliderNuestra .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 24rem;
    font-size: 80px;
    //color: white;
    color:transparent;
}

.snContent{
    width: 100%;
    //border:1px solid red;
    position: absolute;
    top:0 ;
    right: 0;
    bottom:0;
    left:0;
    color:$white;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    p{
        @include NuniBase;
        font-size: 1.6rem;
        line-height: 3.4rem; 
        text-align: center;
        //color:$gray4;
        position: relative;
        z-index: 1;
        opacity: 0.8;
    }

    div{
        position: absolute;
        font-size: 12rem;
        @include montseBase;
        font-weight: bold;
        opacity: 0.2;
    }
}

.wrap-producto{

    #boxCategorias{
        
        .buttonHideCat{
            width: 4rem;
            height: 4rem;
            //border-radius: 90%;
            background-color: $red;
            position: absolute;
            right: -4rem;
            top:calc(50% - 3rem);
            color:$white;
            font-size: 2.8rem;
            //display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            display: none;

            i{
                @include transAnim;
                transform: rotate(-90deg);
            }

        }


        &.open{
            left: 0;

            .buttonHideCat{

                i{
                    transform: rotate(90deg);
                }
            }
        }
    }
}


.wrap-contacto.wrapNoPad.bgGray{
    overflow: hidden;
}
.wrap-contacto{
    & > .container{
        & > form{
            div{
                &:nth-child(10){
                    margin-top: 1.5rem;
                }
            }
        }
    }
}

//No scroll
.noScroll{
    overflow: hidden;
}

    